<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <h1><%=otters[0].name %>'s profile</h1>
          <p>Age: <%= otters[0].age %></p>
          <p>Personality: <%= otters[0].personality%></p>
          <div class="row">
              <a href="/otters/edit/<%= otters[0]._id %>" class="btn btn-primary p-2 ml-2">Edit profile</a>
              <form action='/otters/destroy/<%=otters[0]._id%>' method='post'>
                <button type="submit" class="btn p-2 ml-2">Delete profile</button>
              </form>
              <a href="/" class="btn btn-primary p-2 ml-2">Go Back</a>
        </div>
        </div>
  </body>
</html>
