<html>
    <head>
        <title>Otter Romp</title>
        <style>
            form {
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to the Otter Romp home page!</h1>
        <table>
            <thead>
                <th>Name:</th>
                <th>Age:</th>
                <th>Gender:</th>
                <th>Action</th>
            </thead>
            <tbody>
                <% for(var o of otters) { %>
                    <tr>
                        <td><a href="/otters/<%= o.id%>"><%= o.name %></a></td>
                        <td><%= o.age %></td>
                        <td><%= o.gender %></td>
                        <td>
                            <a href="/otters/edit/<%= o.id%>"><button>Edit</button></a>
                            <form action="/otters/destroy/<%= o.id%>" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <a href="/otters/new"><button>Add an Otter</button></a>
    </body>
</html>