<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Details Page for <%=cat%></h2>

  <img src="<%=image%>" alt="cat">

    <h3>Favorite Food: <%= favorite_food %></h3>
    <h4>Age: <%=age%></h4>
    <% for (var x in sleeping_spots) { %>
    <ul>
    <li>Sleeping spots: <%=sleeping_spots[x] %></li>
    </ul>
      <% } %>
  </body>
</html>
